<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KGC | <%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/emotions.css" />
    <script
      src="https://kit.fontawesome.com/c3cb1bab44.js"
      crossorigin="anonymous"
    ></script>
    <!-- resolve favicon.ico error -->
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <%- include("./partials/loading.ejs") %>

    <a href="/settings-page"><div id="settings"></div></a>

    <%- include("./partials/fontZone.ejs") %> <%-
    include("./partials/mainZone.ejs") %> <%-
    include("./partials/debugZone.ejs") %>

    <script type="module" src="js/app.js"></script>
    <script type="module" src="js/communications.js"></script>

    <!-- <script src = "/socket.io/socket.io.js">
      var socket = io();
    </script>
    <script type="module" src="event.js">
      Init(socket);
    </script> -->
  </body>
</html>
